html
{
	scroll-behavior: smooth;
}
*{
	box-sizing: border-box;
}

body
{
	margin: 0;
	background-color: black;
}

div
{
	display: flex;
	/*border: 2px solid rgb(0, 255, 166);*/
}
.bg_div
{
	position: fixed;
	z-index: -10;
	height: 100vh;
	width: 100%;
	justify-content: end;
	align-items: center;
}
#bg_img
{
	height: 80vh;
	margin-right: 200px;
}

.main_div
{
	min-height: 100vh;
	width: 100%;
	flex-direction: column;
	align-items: center;
}
.main_div_con
{
	width: 1300px;
	flex-direction: column;
}

.middle_div
{
	width: 100%;
	flex-direction: column;
	margin-top: 50px;
}